{% extends "@FOSUser/layout.html.twig" %}
{% block head %}
{% endblock head %}
{% block navbar %}
    <li class="nav-item">
        <a href="{{ path('new_task') }}" class="nav-link">New</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">Today</a>
    </li>
{% endblock navbar %}
{% block fos_profile_content %}
    {% block body %}
    {% endblock body %}
{% endblock %}